UpdaterPackages.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 rel. 2 sp1 (http://www.altova.com) by www.serials.ws (www.serials.ws) -->
<!--W3C Schema generated by XMLSpy v2008 rel. 2 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="UpdaterPackages" targetNamespace="UpdaterPackages">
	<xs:element name="version" type="xs:string"/>
	<xs:element name="url" type="xs:string"/>
	<xs:element name="type" type="xs:string"/>
	<xs:element name="revision" type="xs:string"/>
	<xs:element name="requires" type="xs:string"/>
	<xs:element name="platform" type="xs:string"/>
	<xs:element name="packages">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="format"/>
				<xs:element ref="info"/>
				<xs:element ref="package" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="package">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name"/>
				<xs:element ref="file"/>
				<xs:element ref="mirrors"/>
				<xs:element ref="platform"/>
				<xs:element ref="type"/>
				<xs:element ref="requires"/>
				<xs:element ref="md5"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="name" type="xs:string"/>
	<xs:element name="mirrors">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="url" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="md5" type="xs:string"/>
	<xs:element name="info">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="version"/>
				<xs:element ref="changelog"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="format">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="revision"/>
				<xs:element ref="compatible"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="file" type="xs:string"/>
	<xs:element name="compatible" type="xs:string"/>
	<xs:element name="changelog" type="xs:string"/>
</xs:schema>
